.table {
  border-radius: 2px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: lightgray;
  border: 2px solid gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  list-style: none;
  .card {
    margin: 25px;
    border-radius: 15px;
    padding: 10px 20px;
    height: 230px;
    width: 155px;
    box-shadow: 5px 5px 10px rgba($color: purple, $alpha: 0.1);
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    .value {
      line-height: 1.4;
      font-size: 2.25em;
      font-weight: 600;
      font-family: sans-serif;
      display: flex;
      align-items: flex-start;
      &.bottom {
        transform: scale(-1);
      }
      &.hearts,
      &.diamonds {
        color: red;
      }
      &:after {
        content: "";
        width: 1em;
        height: 1em;
        margin-top: 7px;
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.hearts {
        &:after {
          background-image: url("../../assets/hearts.png");
        }
      }
      &.diamonds {
        &:after {
          background-image: url("../../assets/diamonds.png");
        }
      }
      &.spades {
        &:after {
          background-image: url("../../assets/spades.png");
        }
      }
      &.clubs {
        &:after {
          background-image: url("../../assets/clubs.png");
        }
      }
    }
  }
}
